.c_contact .contact_wrap .goh{width: 30px; height: 30px; float: right; position: relative; margin-top: 1%; margin-right: 1%; background-color:#ffe618; border-radius:30px; z-index: 1000;}



/*.c_contact .wrap .goh{position:fixed; left:0; right:0; top:-100%; bottom:100%; z-index:999999; width:auto !important; height:auto !important; background:rgba(17, 26, 39, 0.9);}*/
/*1*/
/*.c_contact .wrap .goh .closing_b{display:inline-block; vertical-align:middle; position:fixed; left:50%; top:-100px; z-index:9999; overflow:hidden; width:60px; height:60px; margin-left:-30px; border-radius:30px; background-color:#ffe618; box-shadow:0 20px 40px rgba(17, 20, 39, 0.15); transform:scale(1); transition:0.3s; -webkit-transition:0.3s;}*/

.c_contact .contact_wrap .goh .closing_b:before {content:""; display:inline-block; vertical-align:middle; position:absolute; left:50%; top:50%; width:15px; height:2px; margin-top:-1px; margin-left:-7px; border-radius:3px; background-color:#111427; transform:rotate(45deg); -ms-transform:rotate(45deg); transition:0.2s; -webkit-transition:0.2s;}

.c_contact .contact_wrap .goh .closing_b:after {content:""; display:inline-block; vertical-align:middle; position:absolute; left:50%; top:50%; width:15px; height:2px; margin-top:-1px; margin-left:-7px; border-radius:3px; background-color:#111427; transform:rotate(135deg); -ms-transform:rotate(135deg); transition:0.2s; -webkit-transition:0.2s;}

/*hover*/
.c_contact .contact_wrap .goh:hover {background-color:#111427; box-shadow:0 30px 60px rgba(17, 20, 39, 0.5); transform:scale(1.1);}

.c_contact .contact_wrap .goh .closing_b:hover:before {background-color:#ffe618; transform:rotate(135deg); -ms-transform:rotate(135deg);}

.c_contact .contact_wrap .goh .closing_b:hover:after{background-color:#ffe618; transform:rotate(225deg); -ms-transform:rotate(225deg);}